@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(24, 24, 27);
  --foreground: rgb(243, 244, 246);
}

body {
  color: var(--foreground);
  background: var(--background);
}
