@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(24, 24, 27);
  --foreground: rgb(243, 244, 246);

  --background-button: rgb(39, 39, 42);
  --foreground-button: rgb(161, 161, 169);

  --background-button-hover: rgb(63, 63, 69);
  --foreground-button-hover: rgb(228, 228, 231);
}

body {
  color: var(--foreground);
  background: var(--background);
}
